<div class="container">
    <h1 class="text-center"> Trifasico</h1>
    <div class="row">
  
      <div class="col-md">
        <div id="voltage" style="text-align:center"></div>
        
      </div>
  
      <div class="col-md">
        <div id="current" style="text-align:center"></div>
        
      </div>
  
      <div class="col-md">
        <div id="voltageLineToLine" style="text-align:center"></div>
        
        </div>
      
    </div>
  
    <div class="row">
  
        <div class="col-md">
            <div id="activePower" style="text-align:center"></div>
        </div>
  
        <!-- <div class="col-md">
            <div id="reactivePower" style="text-align:center"></div>
        </div> -->
  
        <div class="col-md">
            <div id="aparentPower" style="text-align:center"></div>
        </div>
    </div>
    
    <div class="row">

      <div class="col-md">
        <div id="thd" style="text-align:center"></div>
      </div>

      <div class="col-md">
        <div id="distortion" style="text-align:center"></div>
      </div>

      <div class="col-md">
        <div id="pf" style="text-align:center"></div>
      </div>

    </div>
  </div>