<div class="container">
    <h1 class="text-center"> Potencia fase A </h1>
    <div class="row">
  
      <div class="col-md">
        <div id="p" style="text-align:center"></div>
        
      </div>
  
      <div class="col-md">
        <div id="q" style="text-align:center"></div>
        
      </div>
  
      <div class="col-md">
        <div id="s" style="text-align:center"></div>
        
        </div>
      
    </div>

    <div class="row">

        <div class="col-md">
            <div id="angle" style="text-align:center"></div>
        </div>

        <div class="col-md">
            <div id="distortion" style="text-align:center"></div>
        </div>

        <div class="col-md">
            <div id="pf" style="text-align:center"></div>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md">
        <div id="n" style="text-align:center"></div>
      </div>
    </div>
</div>