<div class="container">
    <h1 class="text-center">Corriente</h1>
    <div class="row">
  
      <div class="col-md">
        <div id="fase A" style="text-align:center"></div>
        <div id="THD A" style="text-align:center"></div>
      </div>
  
      <div class="col-md">
        <div id="fase B" style="text-align:center"></div>
        <div id="THD B" style="text-align:center"></div>
      </div>
  
      <div class="col-md">
        <div id="fase C" style="text-align:center"></div>
        <div id="THD C" style="text-align:center"></div>
        </div>
      
    </div>
</div>