  <!-- <app-chart [charts]='charts'></app-chart> -->
  <div class="container">
    <h1 class="text-center">Voltaje</h1>
    <div class="row">
        <div class="col">
            <div id="fase A" style="text-align:center"></div>
        </div>
        <div class="col">
            <div id="fase B" style="text-align:center"></div>
        </div>
        <div class="col">
            <div id="fase C" style="text-align:center"></div>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="donutA" style="text-align:center"></div>
      </div>
      <div class="col">
        <div id="donutB" style="text-align:center"></div>
      </div>
      <div class="col">
        <div id="donutC" style="text-align:center"></div>
      </div>
    </div>
</div>